body {
	font-family: Helvetica;
	background-color: grey;
	text-align: center;
}

h1 {
	color: orange;
	font-size: 40px;
	font-weight: normal;
}

.main {
	display: inline-block;
}

table {
	background-color: lightgrey;
	margin: 0 auto;
}

.table {
	text-align: center;
}
thead {
	font-weight: bold;
}

.add-new {
	
	margin-top: 40px;
	text-align: left;
}