<div class="table">
	<h1>Tea &amp; Pronoun List!</h1>
		<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<td>ID</td>
					<td>Name</td>
					<td>Pronoun</td>
					<td>Tea</td>
					<td>Dietary</td>
				</tr>
			</thead>
			<tbody ng-repeat="preference in preferences">
				<tr>
					<td>{{ preference.id }}</td>
					<td>{{ preference.firstName }}</td>
					<td>{{ preference.pronoun }}</td>
					<td>{{ preference.tea }}</td>
					<td>{{ preference.diet }}</td>
				</tr>
			</tbody>
		</table>
		<div class="add-new">
			<a ng-href="#!/new" class="pure-button">Add a new person</a>
		</div>
</div>