<form class="pure-form pure-form-aligned" id="new-person">
	<legend>Enter person details</legend>
	<fieldset>
		<div class="pure-control-group">
			<label for="first-name">Your name</label>
			<input type='text' id="first-name" placeholder="name" ng-model="firstName"/>
		</div>
		<div class="pure-control-group">
			<label for="pronoun">Pronoun</label>
			<input type="text" id="pronoun" placeholder="pronoun" ng-model="pronoun"/> 
		</div>	
		<div class="pure-control-group">
			<label for="tea">Tea</label>
			<input type="text" id="tea" placeholder="tea" ng-model="tea"/>
		</div>
		<div class="pure-control-group">
			<label for="diet">Diet</label>
			<input type="text" id="diet" placeholder="dietary needs" ng-model="diet"/>
		</div>
		<button ng-click="doData()" class="pure-button">Add me!</button>
		<p class="hidden" id="success-message">Success! Click the home button to view the list.</p>
	</fieldset>
	<a href="#!/" class="pure-button">Home</a>
	
</form>