<form class="pure-form">
	<legend>Enter person details</legend>
	<fieldset>

		<input type='text' placeholder="name" ng-model="firstName"/>
		<input type="text" placeholder="pronoun" ng-model="pronoun"/> 
		<input type="text" placeholder="tea" ng-model="tea"/>
		<input type="text" placeholder="dietary needs" ng-model="diet"/>
		<button ng-click="doData()" class="pure-button">Click to add</button>
	</fieldset>
	<a href="#!/" class="pure-button">Home</a>
	<p>Click the home button to see your name added</p>
</form>